{% extends "layout.html" %}
{% block body %}

<div id="information">


<form class="form-horizontal" method="post">
    <div class="col-xs-10"> 
      <input type="text" class="form-control" id="recherche_ville" placeholder="Ville" name = search_ville>
    </div>
      <button class="btn btn-default" type="submit">Rechercher</button>
    </div>
  </div>
</form>

</div>

<div id='map'></div>

<script>
var mymap = L.map('map').setView([46.6, 2], 6);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoib2RhYm9wcm9qZWN0IiwiYSI6ImNpeWJ5ZWpmdjAwNTgzM3FwYnR0Yno2MmoifQ.8pNGoOmtAZ330L22u-1gcw',
    {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                  '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' + 
                  'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);
//L.geoJSON(states, {style:myStyle}).addTo(mymap);
$.getJSON("geodata/{{ville}}", function(data){
L.geoJSON(data).addTo(mymap);
mymap.setView(data.properties.coordonnee_centroid, 11);
}
);


$('#recherche_ville').autocomplete({
  source : 'autocomplete',
  minLength: 3,
  select: function(event, ui)
    {console.log("coucou");
     console.log("coucou" + ui.item.value);
     $.getJSON("geodata/" + ui.item.label, function(data){
     L.geoJSON(data).addTo(mymap);
     mymap.setView(data.properties.coordonnee_centroid, 11);});}
  }).autocomplete("instance")._renderItem = function(ul, item){
   return $("<li>")
     .append("<div>" + item.label + "</div>")
     .appendTo(ul);};





</script>


{% endblock %}
