{% extends "layout.html" %}
{% block body %}

<div id="information">


<form class="form-horizontal" method="post">
    <div class="col-xs-10"> 
   <input type="text" class="form-control" id="recherche_ville" placeholder="Ville" name = search_ville>
<input type="hidden" id="recherche_ville_id">
<p id="recherche_ville_desc"></p>
    </div>
      <button class="btn btn-default" type="submit">Rechercher</button>
    </div>
  </div>
</form>
</div>



  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div id='map'></div>

<script>
var mymap = L.map('map').setView([46.6, 2], 6);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoib2RhYm9wcm9qZWN0IiwiYSI6ImNpeWJ5ZWpmdjAwNTgzM3FwYnR0Yno2MmoifQ.8pNGoOmtAZ330L22u-1gcw',
    {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                  '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' + 
                  'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);
$.getJSON("geodata/{{ville}}", function(data){
L.geoJSON(data).addTo(mymap);
mymap.setView(data.properties.coordonnee_centroid, 11);
}
);

  $( function() {
    $( "#recherche_ville" ).autocomplete({
      minLength: 3,
      source: "autocomplete",
      focus: function( event, ui ) {
        $( "#recherche_ville" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#recherche_ville" ).val( ui.item.label );
        $( "#recherche_ville_id" ).val( ui.item.value );
        $( "#recherche_ville_desc" ).html("dans le département " + ui.item.desc );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.label + " " + item.desc + "</div>" )
        .appendTo( ul );
    };
  } );

</script>


{% endblock %}
